{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import",
    "react",
    "eslint-plugin-filenames"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    // Enforces function for components
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "function-declaration",
        "unnamedComponents": "arrow-function"
      }
    ],
    // Enforces no * imports
    "no-restricted-syntax": [
      "error",
      {
        "selector": ":matches(ImportNamespaceSpecifier, ExportAllDeclaration, ExportNamespaceSpecifier)",
        "message": "Import/export only modules you need"
      }
    ],
    // Enforces no default export
    "import/no-default-export": "error",
    // Enforces react not being added to files where it isnt needed
    "react/jsx-uses-react": "error",
    // Enforces const, if a variable isnt reassigned
    "prefer-const": "error",
    // enforces preventing <><div></div></>
    "react/jsx-no-useless-fragment": "error"
  },
  "overrides": [
    {
      "files": ["screens/**/*", "App.tsx", "nativewind.d.ts"],
      "rules": {
        // Allows default exports for the above files
        "import/no-default-export": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
